@import url('https://fonts.googleapis.com/css?family=Spectral');

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Spectral', serif;
  font-size: 20px;
}
#header{
  background: #7B3F00;
}
.container{
  width:100%;
  max-width: 1025px;
  margin: 0 auto;
}
#logo{
  width: 40%;
  float: left;
  font-size: 30px;
  color: #ff0000;
  padding: 10px 0;
}
#menu{
  width: 60%;
  float: right;
  text-align: right;
}
.clear{
  clear: both;
}
#menu ul{
  display: inline-block;
}
#menu ul li{
  float: left;
}
#menu ul li a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #ffffff
}

#big-image .container img{
  padding: 30px 0;
  height: auto;
}

.box-image{
  max-width: 50%;
  padding-right: 15px;
  float: left;
  box-sizing: border-box;
}

.box-image:last-child{
  padding-right: 0;
  padding-left: 15px;
}


.box-image img{
  width: 100%;
  height: auto;
}

#footer{
  border-top: 2px solid #7b3f00;
  margin: 30px 0;
}

#footer-logo{
  width: 40%;
  float: left;
  color: #7b3f00;
  padding: 10px 0;
}
#footer-menu{
  width: 60%;
  float: right;
  text-align: right;
}
#footer-menu ul{
  display: inline-block;
}
#footer-menu ul li{
  float: left;
}
#footer-menu ul li a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #7b3f00;
}
